html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--color-nav-email);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
}

textarea {
  resize: none;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.logo {
  margin-right: 93px;
  text-decoration: none;
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: #212121;
}

.header {
  border: 1px solid #e5e5e5;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item .link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.site-nav-item .link:focus, .site-nav-item .link:hover {
  color: #2196f3;
}

.link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 2px;
  opacity: 1;
}

current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 2px;
  /* opacity: 0; */
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.current:hover::after {
  /* opacity: 1; */
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.address-fon .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: all 250ms var(--timing-function);
  transition: all 250ms var(--timing-function);
}

.address-fon .link:focus, .address-fon .link:hover {
  color: #2196f3;
}

.address-link:hover svg,
.address-link:focus svg {
  fill: #2196f3;
}

.send-icon {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */